@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  background-image: radial-gradient(circle at 35.28% 58.5%, #2a2a29 0, #0d0b16 50%, #000000 100%);
  width: 100%;
  height: 100%;

}

:root {
  --color-box-menu: #333333;
  --color-button: #222222e8;
  --color-icon: #1f54e6;
  --color-x: #FFFFFF;
  --color-hover: #acac30;
}

.banner_principal {
  overflow: hidden;
}


.banner {
  position: relative;
  overflow: hidden;
}

.neon-bar {

  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
  height: 300px;
  border: 20px solid rgb(214, 211, 42);
  box-shadow: 0 0 5px rgb(221, 218, 29), 0 0 5px rgb(167, 207, 23), 0 0 8px rgb(173, 171, 13), 0 0 12px rgb(216, 205, 49);
  transform-origin: center;
  transform: rotate(20deg) translate(-3rem, -13em);

  height: 400px;
  animation: jumpAnimation 2s infinite;
  overflow: hidden;
}

.neon-bar:nth-child(2) {
  top: 50%;
  left: 15%;
  transform: rotate(20deg) translate(-3rem, -13em);
  height: 400px;
  animation: jumpAnimation 2s infinite;
}

.neon-bar:nth-child(3) {
  top: 50%;
  left: 25%;
  transform: rotate(20deg) translate(-3rem, -13em);
  height: 400px;
  animation: jumpAnimation 2s infinite;
}

@keyframes jumpAnimation {
  0% {
    transform: rotate(20deg) translate(0) translate(-3rem, -13em);
    ;
  }

  50% {
    transform: rotate(20deg) translate(50%) translate(-3rem, -13em);
    ;
    /* La barra se mueve hacia arriba 50px */
  }

  100% {
    transform: rotate(20deg) translate(0) translate(-3rem, -13em);
    ;
  }
}

.principal_home {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-image: radial-gradient(circle at 35.28% 58.5%, #2a2a29 0, #0d0b16 50%, #000000 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.my_name {
  font-size: 30px;
  color: var(--color-hover);
  overflow: hidden;
  height: 1.2em;
  margin-top: 2rem;

}

.article {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-out 1s ease;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.description {
  color: white;
  font-size: 18px;
  
}


.developertext {
  color: var(--color-x);
  font-size: 30px;
}

.btn-information {
  display: flex;
  gap: 1rem;
  cursor: pointer;



}

.btn {

  width: 180px;
  padding: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30rem;
  border: 1px solid var(--color-hover);
  transition: background-color 0.5s ease;
  font-size: 17px;
  z-index: 4;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: var(--color-x);
}

.btn:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, #c07c16 0%, transparent 100%);
  background-size: 200% 100%;
  background-position: right;
  color: #FFFFFF;

}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateX(40%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-u {
  from {
    opacity: 0;
    transform: translateX(-40%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 700px) {

  .btn {
    width: 200px;
  }
  
  .description {
    font-size: 20px;
    
  }

  .developertext {
    font-size: 30px;
  }

  .principal_home {
    background-image: radial-gradient(circle at 35.28% 58.5%, #2a2a29 0, #0d0b16 50%, #000000 100%);
    width: 100%;
    height: 100vh;
  }


}


@media screen and (max-width: 600px) {




  .principal_home {
    overflow: hidden;
  }

  .neon-bar {
    display: none;
    left: 65%;
    height: 250px;
    border: 10px solid rgb(214, 211, 42);
  }

  .neon-bar:nth-child(2) {
    left: 10%;
    height: 250px;
  }

  .neon-bar:nth-child(3) {
    height: 250px;
    left: 40%;

  }
  .banner{
    margin-top: 20px;
    width: 350px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(149,163,10,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    animation: borderRadiusChange 5s infinite;
  }

  @keyframes borderRadiusChange {
    0% {
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }
    50% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    100% {
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }
  }




}